<h2> ABOUT </h2>

<p> One hot, summer's day, Maduri and Sarah were essentially whining about how difficult it was to find cool brunch spots in London. They joked about how one of their most common internet searches was 'best brunch spots in London'. Bonding over this frustration, the girls decided that there was a need for a site which collated all the best brunch venues, and thus...Byte was born!  </p>
<p> Disclaimer: it is nothing but pure coincidence that this site was also created in order to fulfil Flatiron course requirements.  </p>
