<h1> Contact Us </h1>

<p> For questions, comments or queries, send us an email at sarah.jacob@flatironschool.com or maduri.vassaramo@flatironschool.com.</p>
<p> But really, please don't email us unless its in the form of admiration or praise. </p>
