




<<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Restaurants</a>
  <a href="#">Areas</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()">open</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
  <h1>  Welcome to Byte </h1>

  <p> It's Saturday morning and you've agreed to a brunch date with a certain someone you're trying to impress. Alas! The week was so freaking busy and you forgot to think about where you could go. Dont you worry, we've been in your situation and we are here to help. Byte Me has collated all the best brunch spots in London and all you now need to do is fill out the below form. Easy peasy!<p>

  <h2> Fill me out, you know you want to... </h2>

  <%= render "search_form" %>

</div>
