  <h1>  Welcome to Byte </h1>

  <p> It's Saturday morning and you've agreed to a brunch date with a certain someone you're trying to impress. Alas! The week was so freaking busy and you forgot to think about where you could go. Dont you worry, we've been in your situation and we are here to help. Byte has collated all the best brunch spots in London and all you now need to do is fill out the below form. Easy peasy!<p>

  <h2> Fill me out, you know you want to... </h2>

  <%= render "search_form" %>
