<h2> SORRY, NO RESTAURANT FOUND </h2>

<div> <%= link_to "Did you have a restaurant in mind? Would you like to add it?", new_restaurant_path %> </div> <br> <br>

<div> <%= link_to "Go back to search page", restaurant_home_path %> </div>
