

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* The side navigation menu */

body {
  margin: 0;
}

 #logo {
     width: 100px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 #form {
   color: #3399ff;
 }

  h1 {
    color: black;
    font-family: "Raleway";
    font-size: 40px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: type 4s steps(60, end);
  }

  h1:nth-child(2){
    animation: type2 8s steps(60, end);
  }

  @keyframes type{
    from { width: 0; }
  }

  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; }
  }

  @keyframes blink{
    to{opacity: .0;}
  }

  ::selection{
    background: black;
  }

 h1 {text-align: center;
   font-family: 'Raleway';
}
 p {text-align: center;
   font-family: 'Raleway';
}
 h2 {text-align: center;
   font-family: 'Raleway';
}
 div {text-align: center;
   font-family: 'Raleway';
}

 .sidenav {
     height: 100%; /* 100% Full-height */
     width: 0; /* 0 width - change this with JavaScript */
     position: fixed; /* Stay in place */
     z-index: 1; /* Stay on top */
     top: 0; /* Stay at the top */
     left: 0;
     background-color: rgb(229, 130, 84); /* Black*/
     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 60px; /* Place content 60px from the top */
     transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 }

 /* The navigation menu links */
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: white;
     display: block;
     transition: 0.3s;
 }

 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover {
     color: #3399ff;
 }

 /* Position and style the close button (top right corner) */
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }

 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
     transition: margin-left .5s;
     max-width: 1600px;
  }

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
 }
 .content {
    max-width: 600px;
    margin: auto;
}

 .box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
  margin: 2rem;
  top: 2rem;
  cursor: pointer;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

.center {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}


.pic {
 display: block;
 position: relative;
 width: 100%;
 height: 100%;
 margin: auto;
 box-sizing: border-box;
 width: 100%;
 max-height: 60rem;
 object-fit: cover;
}
